.image-description-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 400px;
  width: 100%;
}

.image-description-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  width: 100%;
}

.image-container {
  width: 80%;
  height: 100%;
}
.image-container,
.description {
  flex: 1; /* Distribute equal width */
  padding: 0 20px; /* Add space between child divs */
  box-sizing: border-box;
}

.image {
  width: 100%;
  max-width: 450px;
  border-radius: 8px;
  height: 100%;
}

.image:hover {
  transform: scale(1.1); /* Add this */
  filter: brightness(50%); /* Add this */
}

.description {
  margin-top: 20px;
  text-align: left;
}

/* Add your media queries for responsiveness */
@media (max-width: 768px) {
  .image-description-container {
    flex-direction: column;
    align-items: center;
  }

  .image-description-content {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
  }
}
